<button><%= link_to "Student Home", students_path %></button>

<% if @student.errors.any? %>
    <ul>

        <% @student.errors.full_messages.each do |message| %>

            <li><%= message %></li>
        
        <% end %>

    </ul>
<% end %>


<%= form_for @student do |f| %>

    <%= f.label :first_name %>
    <%= f.text_field :first_name %><br/><br/>

    <%= f.label :last_name %>
    <%= f.text_field :last_name %><br/><br/>
    
    <%= f.label :year %>
    <%= f.number_field :year, {min: 1, max: 7} %><br/><br/>

    <%= f.label :house %>
    <%= f.collection_select :house_id, House.all, :id, :name %><br/><br/>

    <%= f.submit %><br/><br/>


<% end %>